#layout {
    grid-template-columns: 400px auto ;
    grid-template-rows: auto auto 50px;
    grid-template-areas:
        "header header"
        "navigation main"
        "footer footer";
}

main {
    padding-right: 100px;
}

.category {
    width: 50%;
}

.category img {
    width: 400px;
    height: 400px;
}

.list-icon img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.list-icon-small img {
    width: 150px;
    height: 150px;
}

.item-icon {
    float: left;
    margin-right: 20px;
}

.item-icon img {
    width: 300px;
    height: 300px;
}

.item-icon-small {
    float: left;
    margin-right: 20px;
}

.image-gallery li {
    width: 500px!important;
}

.recipe {
    grid-template-columns: 200px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title title"
        "icon description"
        "icon ingredients";
    column-gap: 10px;
    row-gap: 10px;
}

.recipe-title {
    text-align: left;
}

.recipe-icon {
    text-align: left;
}

.recipe-ingredients img {
    width: 500px;
}