html, body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
}

h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
}

h1 {
    text-align: center;
    font-size: 72px;
}

h2 {
    margin-top: 0px;
    font-size: 48px;
}

h3 {
    font-size: 36px;
    margin: 10px;
}

a {
    color: #e67e22;
}

#layout {
    display: grid;
    height: 100%;
    grid-template-columns: 400px auto ;
    grid-template-rows: auto auto 50px;
    grid-template-areas:
        "header header"
        "navigation main"
        "footer footer";
    align-content: stretch;
    justify-items: stretch;
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
    padding: 20px;
}

main {
    grid-area: main;
    padding-right: 100px;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.category {
    width: 50%;
    text-align: center;
}

.category h3 {
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 5px;
}

.category img {
    width: 400px;
}

.list {
    padding: 20px;
}

.list table td {
    vertical-align: top;
}

.list-icon img {
    width: 300px;
}

.list-icon-small img {
    width: 150px;
}

.list-description {
    padding-left: 20px;
}

.item {
    padding: 20px;
}

.item-icon {
    float: left;
    margin-right: 20px;
}

.item-icon img {
    width: 300px;
}

.item-icon-small {
    float: left;
    margin-right: 20px;
}

.item-icon-small img {
    width: 150px;
}

.item-description {
    margin-left: 20px;
}

.item-screenshot {
    width: 500px;
}

.disclaimer {
    text-align: right;
    font-size: 12px;
    color: white;
    margin-right: 30px;
}

footer {
    grid-area: footer;
}

footer img {
    width: 100%;
}