<style>
    .image-gallery {overflow: auto; margin: 0; padding: 0;}
    .image-gallery li {float: left; display: block; margin: 10px 0; width: 100%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

{% capture folder %}{{ "/assets/" }}{{ page.group}}{{ "/"}}{{ page.slug }}{{ "/screenshots"}}{% endcapture %}

<ul class="image-gallery">
    {% for file in site.static_files %}
        {% if file.path contains folder %}
            {% if file.extname == '.png' %}
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
                
                {% if filename contains '500px' %}
                    {% assign imgsrc = file.path | relative_url %}
                    {% assign asrc = file.path | relative_url | replace: '-500px',"" %}
                        <li><a href="{{ asrc }}" title="{{ filename }}" target="_blank">
                                <img src="{{ imgsrc }}" alt="{{ filename }}" title="{{ filename }}" />
                            </a>
                        </li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
