---
layout: post
title: "Makeshift Flare"
description: <p>A simple, ramshackle contraption with a variety of uses. Drop them to breadcrumb a trail, or get a little break from the dark. To the creative explorer, the possibilities are endless!</p>
group: items
recipe: true
recipe_ingredient_1: loose_parts
recipe_ingredient_2: loose_parts
recipe_ingredient_3: tin_can
---

<main>

    <div class="navigation">
        <p><a href="/index.html">Home</a> > <a href="/pages/{{ page.group }}.html">Items</a> > {{ page.title }}</p>
    </div>

    <div class="item">
        <h1>{{ page.title }}</h1>

        <div class="item-icon-small">
            <img src="/assets/{{ page.group }}/{{ page.slug }}/icon.png" alt="{{ page.title }} Icon"/>
        </div>

        <div class="item-description">

            {{ page.description }}
        
        </div>

        <div>
            <h2>How To Get The {{ page.title }}?</h2>
            {% include recipe-description.html %}
        </div>

        <div class="item-screenshots">
            <h2>Screenshots</h2>
            {% include image-gallery.html %}
        </div>
    </div>

</main>