---
layout: post
title: "Recipes"
---

<main>

    <div class="navigation">
        <p><a href="/index.html">Home</a> > {{ page.title }}</p>
    </div>

    <h1>{{ page.title }}</h1>

    <p>After a new item has been crafted it will be added to your Recipes list forever! From that tab of the meny any known Recipe can quickly be crafted again, as long as you have the necessary resources.</p>

    <div class="recipes">

        {% for item in site.items %}
            {% if item.recipe == true %}
                <div class="recipe">
                    <div class="recipe-title">
                        <a href="{{ item.url }}"><h2>{{ item.title }}</h2></a>
                    </div>
                    <div class="recipe-icon">
                        <a href="{{ item.url }}">
                            <img src="/assets/items/{{ item.slug }}/icon.png" alt="{{ item.title }} Icon"/>
                        </a>
                    </div>
                    <div class="recipe-description">
                        {{ item.description }}
                    </div>
                    <div class="recipe-ingredients">
                        <a href="{{ item.url }}">
                            <img src="/assets/items/{{ item.slug }}/recipe.png" alt="{{ item.title }} Recipe"/>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

</main>