---
---

<!DOCTYPE html>
<html lang="en-EN">
	<head>
		
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style-768px.css" media="screen and (min-width:768px)">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
							
		<link rel="manifest" href="/manifest.json">

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
		<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#000000">
		<meta name="theme-color" content="#000000">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="Wiki of the game The Wild At Heart">
		<meta property="og:url" content="{{ site.url }}">
		<meta property="og:title" content="The Wild At Heart Wiki">
		<meta property="og:description" content="Wiki of the game The Wild At Heart">
		<meta property="og:image" content="{{ site.url }}/assets/header.webp"/>
		<meta property="og:locale" content="en-EN"/>

	</head>
	<body>

		<div id="layout">

		{% include header.html %}

		{% include navigation.html %}

		{{ content }}

		{% include footer.html %}

		</div>

	</body>
</html>