---
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style-768px.css" media="screen and (min-width:768px)">

		<!--
		<link rel="alternate" type="application/rss+xml" title="Лента блога Ирины Ивановой" href="/atom.xml">
		<link rel="manifest" href="/manifest.json">

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
		<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#FFFFFF">
		<meta name="theme-color" content="#FFFFFF">
		-->

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="Личный блог Ирины Ивановой обо всём, что её интересует: винил, дети, инвестиции, книгопечатание, может быть ещё куда-нибудь занесёт.">
		<meta property="og:url" content="https://irina-ivanova.eu/">
		<meta property="og:title" content="Ирина Иванова | Блог">
		<meta property="og:description" content="Личный блог Ирины Ивановой обо всём, что её интересует: винил, дети, инвестиции, книгопечатание, может быть ещё куда-нибудь занесёт.">
		<meta property="og:image" content="https://irina-ivanova.eu/assets/favicons/preview.jpg"/>
		<meta property="og:locale" content="ru-RU"/>

	</head>
	<body>

		<div id="layout">

		{% include header.html %}

		{% include navigation.html %}

		{{ content }}

		{% include footer.html %}

		</div>

	</body>
</html>